body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: repeating-linear-gradient(
  45deg,
  #ffaf01,
  #fbfbfb 10px,
  #fff480 10px,
  #fbfbfb 20px
);
    color: #000000;
    padding: 40px;
  }

  .video-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    aspect-ratio: 16 / 9;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    background: #000;
    border: 2px solid rgba(255, 255, 255, 0.1);
  }
  
  /* Fullscreen iframe styles */
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }